<p id="notice"><%= notice %></p>

<p>
  <strong>Razonsocial:</strong>
  <%= @provider.Razonsocial %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @provider.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @provider.fecha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @provider.rfc %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
